$primary-color: black;
$secondary-color: white;
$text-color: purple;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

body {
    background: $primary-color;
    font-weight: map-get($font-weights, bold)
}

h1 {
    color: skyblue;
}

p {
    color: $secondary-color;
}

a {
    color: skyblue;
}